{:dependencies
 [[reagent "1.0.0"]
  [cljs-http "0.1.46"]
  [arttuka/reagent-material-ui "4.11.2-0"]]

 :source-paths
 ["src/cljs"]

 :builds
 {:app {:target :browser
        :output-dir "resources/public/js"
        :assets-path "/js"
        :js-options {:anon-fn-naming-policy :unmapped}
        :modules {:main {:entries [academy.core]}}}}}
 
